​
​
<ion-content>
  <div class="container">
    <div class="image-svg"></div>
    <div class="login">
      
      <div class="logo">
       
        <img id="image" src="../../assets/log.png"  alt="">
      </div>
      
        <div class="sli">
            <ion-slides>
              <ion-slide >
                <div style="display: block;">
                    <ion-item>
                        <ion-label  position="floating" style="letter-spacing: 0.7px;font-size:1vw; font-family:'Segoe UI';font-weight: 400">Email address</ion-label>
                        <ion-icon name="mail" slot="end"></ion-icon>
                        <ion-input type="email" [(ngModel)]="email"></ion-input>
                      </ion-item>
                      <ion-item>
                          <ion-label position="floating" style="letter-spacing: 0.7px;font-size:1vw; font-family:'Segoe UI';font-weight: 400">Password</ion-label>
                          
                          <ion-input type="Password" [(ngModel)]="password"></ion-input>
                          <ion-icon name="eye" slot="end"></ion-icon>
                        </ion-item>
                        <button id="password" ion-button clear small half style="background: none;font-size: 0.8vw;letter-spacing: 0.6px; font-family: 'Segoe UI';font-weight:600;">Forgot password?</button>
                        <div class="btn">
                            <button ion-button style="background: #f38d69;font-size: 1vw;border-radius: 5px;width: 100%;height: 70%;letter-spacing: 1px;color:white" (click)="login()">Login</button>
                          </div>
                </div>
                  
              </ion-slide>
            </ion-slides>
        
        </div>
        
              
    
    </div>
  </div>
<!-- ​  
 

    
     -->
</ion-content>
