

<ion-content>
    <div class="container">
        <div class="image-svg"></div>
        <div class="login">
          
          <div class="logo">
           
           <img id="image" src="../../assets/log.png"  alt=""> 
          </div>
          
            <div class="sli">
                <ion-slides [options]="slideOpts">
                  <ion-slide >
                    <form [formGroup]="loginForm" >

            <ion-item style="border: 6px">
            <ion-label  position="floating">Email</ion-label>
            <ion-input formControlName="email" [(ngModel)]="email" type="email"  [class.invalid]="!loginForm.controls['email'].valid &&
            loginForm.controls['email'].touched">
            </ion-input>
          </ion-item>
          <ion-item class="error-message" *ngIf="!loginForm.controls['email'].valid &&
             loginForm.controls['email'].touched">
            <ion-label style="color: red">Please enter a valid email address.</ion-label>
          </ion-item>
      <br>
          <ion-item style="border: 6px">
            <ion-label position="floating">Password</ion-label>
            <ion-input formControlName="password" [(ngModel)]="password" type="password"
              [class.invalid]="!loginForm.controls['password'].valid&& loginForm.controls['password'].touched">
            </ion-input>
          </ion-item>
          <ion-item class="error-message" *ngIf="!loginForm.controls['password'].valid
            && loginForm.controls['password'].touched">
            <ion-label style="color: red">Your password needs more than 6 characters.</ion-label>
          </ion-item>
      <br>
         
          <div  class="btn" >
            <ion-button  (click)="login(loginForm)"  [disabled]="!loginForm.valid" primary style="background: #0bacacab; width: 100%" >Login</ion-button>
        
        </div>
        </form>
                      
                  </ion-slide>
    
                  <ion-slide>
                 <!-- slide two --> 
                 <div style="display: block;">
                  <div class="imageholder" style="height:10vh">
                    <img src="../../assets/idris.jpg">
                  </div>
                  <ion-icon name="camera" id="camera" slot="end" style="color:#f38d69; font-size: 1.5vw"></ion-icon>
                
            
                    <ion-item >
                        <ion-label  position="floating" style="letter-spacing: 0.7px;font-size:0.9vw; font-family:'Segoe UI';font-weight: 400">Username</ion-label>
                        <ion-icon class="icon" name="person"slot="end"></ion-icon>
                        <ion-input type="text"  [(ngModel)]="fullname" ></ion-input>
                      </ion-item>
          
                      <ion-item>
                          <ion-label position="floating" style="letter-spacing: 0.7px;font-size:0.9vw; font-family:'Segoe UI';font-weight: 400">Phone number</ion-label>
                          
                          <ion-input type="" style="border-bottom: 1px solid white" [(ngModel)]="cellno"></ion-input>
                          <ion-icon class="icon" name="call"  slot="end"></ion-icon>
                        </ion-item>
          
                        <ion-item>
                          <ion-label  position="floating" style="letter-spacing: 0.7px;font-size:0.9vw; font-family:'Segoe UI';font-weight: 400">Bio</ion-label>
                          <ion-icon class="icon" name="create"  slot="end"></ion-icon>
                          <ion-textarea type="text" rows="3" [(ngModel)]="bio"></ion-textarea>
                        </ion-item>
          
          <!--               <button ion-button clear small half style="background: none;font-size: 0.7vw;letter-spacing: 0.6px; font-family: 'Segoe UI';">Submit</button>
           -->              <div class="btn">
            <button ion-button style="background: #f38d69;font-size: 1vw;border-radius: 5px;width: 100%;height: 4.3vh;letter-spacing: 1px;color:white;outline: none"   >Submit</button>
          </div>
                 </div>
              
                    
                  </ion-slide>
                </ion-slides>
            
            </div>
            
                  
        
        </div>
    </div>
    </ion-content>
    