<ion-content>
  <div class="container">
    <div class="orange"></div>
  
    <div class="gray">
      <div class="image-holder" style="height:10vh">
        <img src="../../assets/idris.jpg">
       
      </div>
      <h4 >Kaboentle Mabiletsa</h4>
    </div>
  <div class="list">
     <div class="card" style="margin-bottom: 2%">
      <h3>Request Quotes</h3>
      <button ion-button style="width: 35%; height:40%;background: #f15a24">Delete</button>
    </div>
  </div>
   
  </div>
  </ion-content>
