

<ion-content>
  <div class="container">
    <div class="image-khuthy"></div>
    <div class="header1">
      <h5>Content Management System</h5>
      <p>Logout</p>
    </div>
  
    <div class="header2">
      <img src="../../assets/icon.png" alt="logo" height="100%">
      <h5>Yakha Dashboard</h5>
      <p>Manage your App here</p>
  
      <p id="moveright"> Welcome back, Khutty</p>
      <div class="imageholder">
  <div class="image"></div>
      </div>
    </div>
  
    <div class="content">
      <div class="bar">
        <p>Dashboard / Home</p>
      </div>
  
  <div class="divide">
       <div class="topcolumns">
        <div class="sidemenu">
          <div class="dashboard">
            <h6>Dashboard</h6>
          </div>

          <div class="box">
              <div class="box1"><ion-icon name="home" style="color: gray; font-size: 2.5vw;text-align: center;" ></ion-icon></div>
              <div class="box1"> <p>Home</p></div>
              <div class="box1" class="last"><ion-icon name="checkmark-circle" class="nums"></ion-icon></div>
           </div>

          <div class="box">
            <div class="box1"><ion-icon name="mail" style="color: gray; font-size: 2.5vw;text-align: center;" ></ion-icon></div>
            <div class="box1"> <p>Messages</p></div>
            <div class="box1" class="last"><ion-icon name="checkmark-circle" class="nums"></ion-icon></div>
         </div>

          <div class="box" >
              <div class="box1"><ion-icon name="person" style="color: gray; font-size: 2.5vw"></ion-icon></div>
              <div class="box1"> <p>Home Owners</p></div>
              <div class="box1"  class="last"><ion-icon name="checkmark-circle" class="nums"></ion-icon></div>
          </div>

          <div class="box" style="border-bottom: none;height: 5%">
              <div class="box1" ><ion-icon name="construct" style="color: gray; font-size: 2.5vw"></ion-icon></div>
              <div class="box1"> <p>Builders</p></div>
              <div class="box1"  class="last"><ion-icon name="checkmark-circle" class="nums"></ion-icon></div>
          </div>
        </div>
   
      </div>
      <div class="rightside">
        <div class="head">
          <p>App Overview Analytics</p>
        </div>
        <div class="icons">

          <div class="one">
            <div class="divide">
                <ion-icon name="people" style="color: gray; font-size: 4vw"></ion-icon>
                <h3>127</h3>
            </div>
            <div class="name"><p>Home Owner</p></div>
          </div>

          <div class="one">
              <div class="divide">
                  <ion-icon name="construct" style="color: gray; font-size: 4vw"></ion-icon>
                  <h3>183</h3>
              </div>
              <div class="name"><p>Builders</p></div>
          </div>
          <div class="one">
              <div class="divide">
                  <ion-icon name="people" style="color: gray; font-size: 4vw"></ion-icon>
                  <h3>28</h3>
              </div>
              <div class="name"><p>Blocked Users</p></div>
          </div>
        </div>
  
        <div class="info">
          <div class="head2">
            <p>Latest Home Owners</p>
          </div>

          <div class="contents">
             <div class="headings" id="heading">
            <div class="two" style="border-right: 1px solid gray"><h4>Name</h4></div>
            <div class="two" style="border-right: 1px solid gray"><h4>Email</h4></div>
            <div class="two"><h4>Joined Date</h4></div>
          </div>

          <div class="headings">
            <div class="two"><p>John Wick</p></div>
            <div class="two"><p>Johnwick@movieshub.com</p></div>
            <div class="two"><p>19 july 2002</p></div>
          </div> 
          </div>
         

        </div>
      </div>
  </div>
   
    </div>
  </div>
  </ion-content>
  

